<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h3 align="center">About Page</h3>
        <div>
          <div class="card-body">
            <p>Your in about page. We Bros Shopy are continuously trying to serve our customer's the best
            as promised.</p>
            <hr>
            <p>For further details or enquiry please don't fell hesitate to contact-us. 📞</p>
            <p>
              <a [routerLink]="['support']">Go Back to Home</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
