<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h3>About Page</h3>
        <div>
          <div class="card-body">
            <p>Your in about page. We the organisation of georgian college has announced a new
            library for the students of georgian. 📚 📑 📕 📖</p>
            <hr>
            <p>For for details or enquiry please don't fell hesitate to contact-us. 📞</p>
            <p>
              <a [routerLink]="['support']">Go Back to Home</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
