/* You can add global styles to this file, and also import other style files */
.cart-item {
  font-size: small;
}

.filters {
  font-size: smaller;
}

.card, .form-control, .btn {
  border-radius: 0;
}

.list-group-item:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-btn {
  font-size: small;
}

.fa-heart {
  color: red;
  cursor: pointer;
}

.guest-form-card h3 {
  text-transform: uppercase;
  font-size: medium;
}

.guest-form-card label {
  font-size: small;
}

.btn-primary.disabled, .btn-primary:disabled {
  cursor: not-allowed;
}

.btn-danger.disabled, .btn-danger:disabled {
  cursor: not-allowed;
}

footer {
  color: black;
  text-align: center;
}

#footera {
  color: #CDC9C9;
  text-decoration: none;
  transition: all 0.3s ease;
}

#footera:hover {
  color: black;
  transition: all 0.3s ease;
  text-align: center;
}

.footer-social {
  font-size: 1.5em;
  padding: 5px;
  text-align: center;
}


i:hover {
  color: grey;
  text-decoration: none;
  transition: all 0.3s ease;
}

i {
  padding: 5px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 24px;
}

.fa-twitter {
  color: aqua;
}

.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 8px rgba(0,0,0,.25);
}


.fa {
  font-size: xx-small;
}
